<div id="<%= dom_id note %>">
  <div class="chat <%= note.user == note.prayer.user ? "chat-end" : "chat-start" %>">
    <div class="chat-image">
      <%= render partial: "shared/avatar", locals: { user: note.user, size: 3, img_variant: :small } %>
    </div>
    <div class="chat-bubble text-gray-500 bg-gray-100 w-full">
      <div class="flex justify-between items-center w-full">
        <h3 class="font-semibold text-black">
          <%= note.title %>
        </h3>
        <span class="material-symbols-outlined small-icon">
          description
        </span>
      </div>
      <p class="chat-content text-sm w-full">
        <%= note.content %>
      </p>
    </div>
    <div class="chat-footer">
      <time class="text-gray-400 text-sm" datetime="<%= note.created_at %>" data-controller="date"></time>
    </div>
  </div>
</div>
