<div id="<%= dom_id prayer %>" class="relative">
  <div class="card max-w-3xl shadow">
    <!-- Card Header -->
    <div class="pt-4 pl-4 flex gap-3">
      <% prayer.tags.each do |tag| %>
        <span class="rounded-md bg-gray-200 px-3 py-1 text-base font-semibold" style="background-color: <%= tag.bg_color %>; color: <%= tag.color %>"><%= tag.label.capitalize %></span>
      <% end %>
    </div>
    <!-- Card Body -->
    <div class="card-body p-4">
      <div class="font-medium text-xl mb-1"><%= prayer.summary %></div>
      <p class="text-gray-500 text-base line-clamp-4 overflow-hidden">
        <%= prayer.description %>
      </p>
      <div class="card-action flex justify-end gap-2 mt-3">
        <button class="btn btn-transparent text-gray-500 font-normal min-h-8 h-8 pl-2 pr-2">
          <span class="material-symbols-outlined small-icon">
            description
          </span>
          <p class="text-sm"><%= prayer.notes_count %> notes</p>
        </button>
        <button class="btn btn-transparent text-gray-500 font-normal min-h-8 h-8 pl-2 pr-2">
          <span class="material-symbols-outlined small-icon">
            mark_email_read
          </span>
          <p class="text-sm"><%= prayer.answers_count %> answers</p>
        </button>
      </div>
      <hr />
      <!-- Action Region -->
      <%= render prayer.notes %>
      <!-- Card Footer -->
      <div class="flex justify-between items-center mt-5">
        <div class="flex gap-2 items-center">
          <%= render partial: "shared/avatar", locals: { user: prayer.user } %>
          <p class="text-base font-medium"><%= prayer.user.username.capitalize %></p>
        </div>
        <div class="flex gap-2 items-center">
          <span class="material-symbols-outlined medium-icon-gray">
            today
          </span>
          <p class="text-lg text-gray-500"><%= formatted_date(prayer.datetime_to_pray) %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Style -->
  <div class="absolute top-16 left-[-1px] w-1 h-16 rounded-lg" style="background-color: <%= prayer.color %>"></div>
</div>