<div id="<%= dom_id prayer %>" class="m-6">
  <div class="relative">
    <div class="card max-w-xs shadow">
      <!-- Card Header -->
      <div class="pt-4 pl-4 flex gap-3">
        <%= render prayer.tags %>
      </div>
      <!-- Card Body -->
      <div class="card-body p-4">
        <div class="font-medium text-xl mb-1"><%= prayer.summary %></div>
        <p class="text-gray-500 text-base line-clamp-4 overflow-hidden">
          <%= prayer.description %>
        </p>
        <div class="card-action flex justify-end gap-2 mt-3">
          <button class="btn btn-transparent text-gray-500 font-normal min-h-8 h-8 pl-2 pr-2">
            <span class="material-symbols-outlined small-icon">
              description
            </span>
            <p class="text-sm"><%= prayer.notes_count %> notes</p>
          </button>
          <button class="btn btn-transparent text-gray-500 font-normal min-h-8 h-8 pl-2 pr-2">
            <span class="material-symbols-outlined small-icon">
              mark_email_read
            </span>
            <p class="text-gray-500 text-sm"><%= prayer.answers_count %> answers</p>
          </button>
        </div>
        <hr />
        <!-- Card Footer -->
        <div class="flex justify-between items-center mt-5">
          <div class="flex gap-2 items-center">
            <%= render partial: "shared/avatar", locals: { user: prayer.user } %>
            <p class="text-base font-medium"><%= prayer.user.username.capitalize %></p>
          </div>
          <div class="flex gap-2 items-center">
            <span class="material-symbols-outlined medium-icon-gray">
              today
            </span>
            <p class="text-lg text-gray-500"><%= formatted_date(prayer.datetime_to_pray) %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Style -->
    <div class="absolute top-16 left-[-1px] w-1 h-16 rounded-lg" style="background-color: <%= prayer.color %>"></div>
  </div>
  <% if action_name != "show" %>
    <%= link_to "Show this prayer", prayer, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this prayer", edit_prayer_path(prayer), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
