<!DOCTYPE html>
<html>
  <head>
    <title>PrayerDom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <ul>
        <% I18n.available_locales.each do |locale| %>
          <li>
            <% if I18n.locale == locale %>
              <%= t(locale, scope: 'locales') %>
            <% else %>
              <%= link_to t(locale, scope: 'locales'), url_for(locale: locale) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
